@media (max-width: 1024px) 
    nav
        .menu_btn
            width: 150px
            font-size: 15px
        .menu_list
            gap: 18px
            
        .main_block
            .logo_name
                font-size: 28px
        .language
            margin: auto 0 auto 206px 
            
        .menu_phone
            font-size: 15px