:root {
  --index: calc(1vw + 1vh);
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

nav {
  height: 50px;
  width: 100%;
  z-index: 5;
  position: absolute;
  top: 30px;
}
nav .main_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav .main_block .logo {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  height: 100%;
  content: url("../icons/logo_black.png") Dogguard;
}
nav .main_block .logo img {
  width: 40px;
  height: 40px;
}
nav .main_block .logo_name {
  width: 229px;
  height: 50px;
  padding-top: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #292729;
}
nav .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
  list-style-type: none;
  height: 100%;
  padding-left: 15px;
}
nav .language_link {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #292729;
}
nav .language_active {
  font-weight: 600;
}
nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
nav .menu_link {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}
nav .menu .white {
  color: #ffffff;
}
nav .menu_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 8px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 132%;
  color: #ffffff;
}
nav .menu_btn {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 16px;
  gap: 10px;
  width: 185px;
  height: 40px;
  background: #E3DFE0;
  border: 1px solid #E3DFE0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 24px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 132%;
}

h1 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 124%;
  color: #292729;
  padding-top: 260px;
}

h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 124%;
  color: #292729;
  margin-top: 48px;
}

.btn_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px;
  gap: 10px;
  width: 288px;
  height: 48px;
  border: none;
  background: rgba(41, 39, 41, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 32px;
  margin-top: 80px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 132%;
  color: #E3DFE0;
}

.promo {
  min-height: 900px;
  background: url("../img/bg/background_promo.png") center center/cover no-repeat;
}

.about {
  min-height: 648px;
  background: url("../img/bg/background_about_us.png") center center/cover no-repeat;
  padding: 72px 0 72px 0;
}
.about_frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 504px;
  background: rgba(227, 223, 224, 0.1);
  -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 20px;
  vertical-align: start;
}
.about_frame .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 808px;
  height: 218px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.about_frame .wrapper_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 595px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.about_frame .wrapper_info_header {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #E3DFE0;
}
.about_frame .wrapper_info_subheader {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 132%;
  color: #E3DFE0;
}
.about_frame .wrapper_info_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  color: #FFFFFF;
  -webkit-animation: right_arrow 1s ease-out 0.05s infinite;
          animation: right_arrow 1s ease-out 0.05s infinite;
}
.about_frame .wrapper_info_link .arrow {
  margin-left: 12px;
}
.about_frame .wrapper_logo {
  margin-left: 8px;
  display: block;
  width: 200px;
  height: 200px;
}

@-webkit-keyframes right_arrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes right_arrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.capabilities {
  min-height: 666px;
  padding: 72px 0 72px 0;
}
.capabilities .title {
  position: relative;
  text-align: center;
  margin-bottom: 62px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #292729;
}
.capabilities_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 72px;
}
.capabilities_block img {
  width: 100px;
  height: 100px;
}
.capabilities_block_title {
  margin-top: 24px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 124%;
  text-align: center;
  color: #292729;
}

.promises {
  min-height: 704px;
  background: url("../img/bg/background_promises.png") center center/cover no-repeat;
  padding: 72px 0 72px 0;
}
.promises .title {
  position: relative;
  text-align: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 80px;
}
.promises_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}
.promises_block {
  width: 360px;
  height: 448px;
  display: block;
  background: rgba(227, 223, 224, 0.1);
  -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 20px;
}
.promises_block_wrapper {
  width: 330px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 22px auto;
}
.promises_block_wrapper_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 124%;
  color: white;
  margin-top: 24px;
}
.promises_block_wrapper_entering {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: white;
  margin-top: 10px;
}
.promises_block_wrapper_list {
  margin-top: 12px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;
  color: white;
  list-style-type: none;
}
.promises_block_wrapper_list li {
  position: relative;
  margin-bottom: 8px;
}
.promises_block_wrapper_list li:before {
  position: absolute;
  display: block;
  content: "";
  left: -27px;
  width: 20px;
  height: 20px;
  background: url("../icons/paw_icon.png") center center/cover no-repeat;
}
.promises_block_wrapper_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto 16px auto;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  color: #E3DFE0;
}
.promises_block_wrapper_btn {
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 16px;
  gap: 10px;
  width: 107px;
  height: 40px;
  background: #E3DFE0;
  border: 1px solid #E3DFE0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 24px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}

footer {
  min-height: 70px;
  padding: 24px 0 30px 0;
}
footer .footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
footer .footer_wrapper .legal_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #292729;
}
footer .footer_wrapper .author {
  position: relative;
  text-align: center;
  vertical-align: top;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #292729;
}
footer .footer_wrapper .social {
  display: inline-block;
  font-size: 30px;
}
footer .footer_wrapper .social i:hover {
  -webkit-animation: icons 1s none infinite normal 0.3s;
          animation: icons 1s none infinite normal 0.3s;
}
footer .footer_wrapper .add_info {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

@-webkit-keyframes icons {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  20% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes icons {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  20% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal_dialog {
  max-width: 648px;
  max-height: 598px;
  margin: 200px auto;
}
.modal_content {
  position: relative;
  width: 100%;
  padding: 40px 0px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 20px;
}
.modal_content_close {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  background: url("../icons/cross_icon.png") center center/cover;
}
.modal_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #292729;
}
.modal_pocket {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal_pocket .modal_header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
}
.modal_pocket_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #292729;
}
.modal_pocket_chosen {
  margin-left: 10px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #292729;
}
.modal_pocket_btn {
  margin-left: 24px;
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #292729;
  border: none;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 32px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
}
.modal_name {
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 104px 0 104px;
}
.modal_name_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #292729;
}
.modal_number {
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 104px;
}
.modal_number_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #292729;
}
.modal_input {
  width: 100%;
  /* Black */
  height: 42px;
  border: 1px solid #292729;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}
.modal_rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 32px;
}
.modal_rules_checkbox {
  color: none;
  width: 24px;
  height: 24px;
}
.modal_rules_checkbox:hover {
  background-color: #ccc;
}
.modal_rules_title {
  margin-left: 8px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #292729;
}
.modal_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 112px;
  margin: 31px auto 0 auto;
  background: #292729;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 32px;
  border: none;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  min-width: 390px;
  color: #FFFFFF;
}

.input_name::-webkit-input-placeholder {
  color: #292729;
}

.input_name::-moz-placeholder {
  color: #292729;
}

.input_name:-ms-input-placeholder {
  color: #292729;
}

.input_name::-ms-input-placeholder {
  color: #292729;
}

.input_name::placeholder {
  color: #292729;
}

.input_number::-webkit-input-placeholder {
  color: #838283;
}

.input_number::-moz-placeholder {
  color: #838283;
}

.input_number:-ms-input-placeholder {
  color: #838283;
}

.input_number::-ms-input-placeholder {
  color: #838283;
}

.input_number::placeholder {
  color: #838283;
}

.hidden {
  display: none;
}

.show {
  display: block;
  -webkit-animation: showModal 1s ease 0s 1;
          animation: showModal 1s ease 0s 1;
}

@-webkit-keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal_pocket_block {
  margin: 0 auto 20px auto;
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal_pocket_block .text_combo_block_name {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}
.modal_pocket_block .text_combo_block_price {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}
.modal_pocket_block_choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px;
  background: #292729;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 32px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  color: #FFFFFF;
}

.modal_results_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}
.modal_results_wrapper .modal_results_block {
  padding: 8px 0px;
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.modal_results_wrapper .modal_results_block_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132%;
  color: #838283;
}
.modal_results_wrapper .modal_results_block_chosen {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}

.agreement {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #292729;
  text-align: center;
}

.modal_gray {
  background: #5F5D5F;
  padding: 12px 25px;
  min-width: 370px;
  margin-top: 43px;
  margin-bottom: -15px;
}

.first {
  margin-top: 32px;
}

.thanks_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132%;
  text-align: center;
  color: #292729;
  margin-bottom: 12px;
  margin-top: 20px;
}

.modal_logo {
  width: 50px;
  height: 50px;
  margin: 0 auto 16px auto;
  background: url("../icons/logo_black.png") center center/cover no-repeat;
}

.burger {
  display: none;
  width: 50px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 8px;
}
.burger span {
  display: block;
  width: 50px;
  height: 5px;
  background: #E3DFE0;
  border-radius: 4px;
  margin-bottom: 10px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 1;
}

.burger_active span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
}
.burger_active span:nth-child(2) {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}
.burger_active span:nth-child(3) {
  opacity: 0;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 44px;
    margin-left: 5px;
  }
  h3 {
    margin-left: 5px;
  }
  .btn_info {
    margin-left: 5px;
  }
  nav .menu_btn {
    width: 150px;
    font-size: 15px;
  }
  nav .menu_list {
    gap: 18px;
  }
  nav .main_block .logo_name {
    font-size: 20px;
  }
  nav .language {
    padding: 0;
  }
  nav .menu_phone {
    font-size: 15px;
  }
  .promises_block {
    width: 300px;
    height: 448px;
  }
  .promises_block_wrapper {
    width: 250px;
  }
  .promises_block_wrapper_title {
    font-size: 18px;
  }
  .promises_block_wrapper_entering {
    font-size: 13px;
  }
  .promises_block_wrapper_list {
    font-size: 14px;
  }
  .promises_block_wrapper_price {
    font-size: 18px;
  }
  footer .footer_wrapper .legal_text {
    font-size: 16px;
  }
  footer .footer_wrapper .author {
    font-size: 16px;
  }
  footer .footer_wrapper .social {
    font-size: 25px;
  }
  footer .footer_wrapper .add_info {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 44px;
    margin-left: 5px;
  }
  h3 {
    margin-left: 5px;
  }
  .btn_info {
    margin-left: 5px;
  }
  nav .burger {
    display: block;
  }
  nav .menu {
    position: fixed;
    left: -100%;
    top: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 33%;
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
  }
  nav .menu_link {
    color: white;
    margin-bottom: 20px;
  }
  nav .menu_phone {
    margin-top: 50px;
    font-size: 20px;
  }
  nav .menu_btn {
    margin-top: 15px;
  }
  nav .menu_active {
    left: 0px;
  }
  nav .main_block .logo img {
    height: 30px;
    width: 30px;
  }
  nav .main_block .logo_name {
    font-size: 20px;
  }
  nav .language {
    padding-left: 50px;
    gap: 10px;
  }
  nav .language_link {
    font-size: 15px;
  }
  nav .menu_phone {
    font-size: 15px;
  }
  .about {
    font-size: 10px;
  }
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .wrapper_info {
    margin-top: 15px;
  }
  .about .wrapper_info_header {
    font-size: 30px;
  }
  .about .wrapper_info_subheader {
    font-size: 25px;
  }
  .about .wrapper_logo {
    margin-top: 40px;
  }
  .promises_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promises_block {
    width: 450px;
    height: 400px;
    margin-top: 15px;
  }
  .promises_block_wrapper {
    width: 300px;
    height: 370px;
  }
  .promises_block_wrapper_title {
    font-size: 18px;
  }
  .promises_block_wrapper_entering {
    font-size: 13px;
  }
  .promises_block_wrapper_list {
    font-size: 14px;
  }
  .promises_block_wrapper_price {
    font-size: 18px;
  }
  footer .footer_wrapper .legal_text {
    font-size: 16px;
  }
  footer .footer_wrapper .author {
    font-size: 16px;
  }
  footer .footer_wrapper .social {
    font-size: 25px;
  }
  footer .footer_wrapper .add_info {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 44px;
    margin-left: 5px;
  }
  h3 {
    margin-left: 5px;
  }
  .btn_info {
    margin-left: 5px;
  }
  .white {
    color: black;
  }
  .about {
    font-size: 10px;
  }
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .wrapper_info {
    width: 90%;
    margin-top: 15px;
  }
  .about .wrapper_info_header {
    margin-top: 30px;
    font-size: 25px;
  }
  .about .wrapper_info_subheader {
    font-size: 20px;
  }
  .about .wrapper_logo {
    margin-top: 40px;
  }
  .promises_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promises_block {
    width: 400px;
    height: 400px;
    margin-top: 15px;
  }
  .promises_block_wrapper {
    width: 300px;
    height: 370px;
  }
  .promises_block_wrapper_title {
    font-size: 18px;
  }
  .promises_block_wrapper_entering {
    font-size: 13px;
  }
  .promises_block_wrapper_list {
    font-size: 14px;
  }
  .promises_block_wrapper_price {
    font-size: 18px;
  }
  footer .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_wrapper .legal_text {
    text-align: center;
    width: 60%;
    margin-top: 10px;
    font-size: 16px;
  }
  footer .footer_wrapper .author {
    text-align: center;
    width: 60%;
    margin-top: 10px;
    font-size: 16px;
  }
  footer .footer_wrapper .social {
    text-align: center;
    width: 60%;
    margin-top: 10px;
    font-size: 25px;
  }
  footer .footer_wrapper .add_info {
    text-align: center;
    width: 60%;
    margin-top: 10px;
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 44px;
    margin-left: 5px;
    color: white;
    padding-top: 150px;
  }
  h3 {
    margin-left: 5px;
    color: white;
    padding-top: 362px;
  }
  .btn_info {
    margin-left: 5px;
    width: 100%;
    height: 70px;
    background: rgba(41, 39, 41, 0.5);
  }
  .white {
    color: black;
  }
  .promo {
    background: url("../img/bg/mobile-background.png") center center/cover no-repeat;
  }
  nav .menu {
    width: 75%;
  }
  nav .menu_btn {
    width: 150px;
    font-size: 15px;
  }
  nav .menu_list {
    gap: 18px;
  }
  nav .menu_list_item .item_link {
    font-size: calc(var(--index)) px;
  }
  nav .main_block .logo img {
    content: url("../icons/logo_white.png");
  }
  nav .main_block .logo_name {
    color: white;
  }
  nav .language {
    display: none;
  }
  .about {
    background: url("../img/bg/mobile-about.png") center center/cover no-repeat;
    font-size: 10px;
  }
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .wrapper_info {
    width: 80%;
    margin-top: 15px;
  }
  .about .wrapper_info_header {
    margin-top: 24px;
    font-size: 24px;
  }
  .about .wrapper_info_subheader {
    font-size: 16px;
  }
  .about .wrapper_logo {
    margin-top: 40px;
    width: 100px;
    height: 100px;
  }
  .about .wrapper_logo img {
    width: 100px;
    height: 100px;
  }
  .capabilities_block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .capabilities_block_title {
    text-align: start;
    font-size: 21px;
  }
  .promises {
    background: url("../img/bg/mobile-propos.png") center center/cover no-repeat;
  }
  .promises .title {
    margin-bottom: 30px;
  }
  .promises_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promises_block {
    width: 270px;
    height: 480px;
    margin-top: 24px;
  }
  .promises_block_wrapper {
    width: 240px;
    height: 450px;
  }
  .promises_block_wrapper_title {
    font-size: 17px;
  }
  .promises_block_wrapper_entering {
    font-size: 13px;
  }
  .promises_block_wrapper_list {
    font-size: 14px;
  }
  .promises_block_wrapper_price {
    font-size: 18px;
  }
  footer .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_wrapper .legal_text {
    text-align: center;
    width: 60%;
    margin-top: 10px;
    font-size: 16px;
  }
  footer .footer_wrapper .author {
    text-align: center;
    width: 60%;
    margin-top: 10px;
    font-size: 16px;
  }
  footer .footer_wrapper .social {
    text-align: center;
    width: 60%;
    margin-top: 10px;
    font-size: 25px;
  }
  footer .footer_wrapper .add_info {
    text-align: center;
    width: 60%;
    margin-top: 10px;
    font-size: 16px;
  }
  .burger {
    width: 35px;
    height: 35px;
  }
  .burger span {
    display: block;
    width: 35px;
    height: 5px;
    background: #E3DFE0;
    border-radius: 4px;
    margin-bottom: 5px;
    opacity: 1;
  }
  .burger_active span:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
  .burger_active span:nth-child(2) {
    -webkit-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
  }
  .burger_active span:nth-child(3) {
    opacity: 0;
  }
  .modal_dialog {
    margin-top: 10vh;
  }
  .modal_pocket {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 18px 10px 18px;
  }
  .modal_pocket .modal_header_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal_pocket_chosen {
    margin-left: 0;
    font-size: 16px;
  }
  .modal_pocket_block {
    width: 90%;
  }
  .modal_name {
    margin: 20px 18px 10px 18px;
    width: 93%;
  }
  .modal_number {
    margin: 20px 18px 10px 18px;
    width: 93%;
  }
  .modal_results_wrapper .modal_results_block {
    width: 95%;
  }
  .modal_results_wrapper .modal_results_block_chosen {
    font-size: 15px;
  }
  .modal_btn {
    width: 90%;
    min-width: 0;
    font-size: 13px;
  }
  .modal_gray {
    padding: 10px 25px;
    margin-top: 10px;
    font-size: 15px;
  }
  .modal_title {
    font-size: 25px;
  }
}