.container {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  height: 40px;
  width: 100%;
  z-index: 5;
  position: absolute;
  top: 40px;
}
nav .main_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40px;
}
nav .main_block .logo {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 12px;
}
nav .main_block .logo img {
  width: 40px;
  height: 40px;
}
nav .main_block .logo_name {
  width: 229px;
  height: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: #292729;
}
nav .language {
  margin: auto 0 auto 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 12px;
  list-style-type: none;
}
nav .language_link {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #292729;
}
nav .language_active {
  font-weight: 600;
}
nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
nav .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 40px;
  margin: 0;
  width: 311px;
  height: 26px;
}
nav .menu_list_item {
  list-style-type: none;
}
nav .menu_list_item .item_link {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}
nav .menu_list_item .white {
  color: #ffffff;
}
nav .menu_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 8px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 132%;
  color: #ffffff;
}
nav .menu_btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 16px;
  gap: 10px;
  width: 185px;
  height: 40px;
  background: #E3DFE0;
  border: 1px solid #E3DFE0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 24px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 132%;
}

h1 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 124%;
  color: #292729;
  margin-top: 180px;
}

h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 124%;
  color: #292729;
  margin-top: 48px;
}

.btn_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px;
  gap: 10px;
  width: 288px;
  height: 48px;
  background: rgba(41, 39, 41, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-color: none;
  border-radius: 32px;
  margin-top: 80px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 132%;
  color: #E3DFE0;
}

.promo {
  min-height: 900px;
  background: url("../img/bg/background_promo.png") center center/cover no-repeat;
}

.about {
  min-height: 648px;
  background: url("../img/bg/background_about_us.png") center center/cover no-repeat;
  padding: 72px 0 72px 0;
}
.about_frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 504px;
  background: rgba(227, 223, 224, 0.1);
  -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 20px;
  vertical-align: start;
}
.about_frame .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 808px;
  height: 218px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.about_frame .wrapper_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 595px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.about_frame .wrapper_info_header {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #E3DFE0;
}
.about_frame .wrapper_info_subheader {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 132%;
  color: #E3DFE0;
}
.about_frame .wrapper_info_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  color: #FFFFFF;
  -webkit-animation: right_arrow 1s ease-out 0.05s infinite;
          animation: right_arrow 1s ease-out 0.05s infinite;
}
.about_frame .wrapper_info_link .arrow {
  margin-left: 12px;
}
.about_frame .wrapper_logo {
  margin-left: 8px;
  display: block;
  width: 200px;
  height: 200px;
}

@-webkit-keyframes right_arrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes right_arrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.capabilities {
  min-height: 666px;
  padding: 72px 0 72px 0;
}
.capabilities .title {
  position: relative;
  text-align: center;
  margin-bottom: 62px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #292729;
}
.capabilities_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 72px;
}
.capabilities_block img {
  width: 100px;
  height: 100px;
}
.capabilities_block_title {
  margin-top: 24px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 124%;
  text-align: center;
  color: #292729;
}

.promises {
  min-height: 704px;
  background: url("../img/bg/background_promises.png") center center/cover no-repeat;
  padding: 72px 0 72px 0;
}
.promises .title {
  position: relative;
  text-align: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 80px;
}
.promises_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}
.promises_block {
  width: 392px;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(227, 223, 224, 0.1);
  -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 20px;
}
.promises_block_title {
  margin-left: 32px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 124%;
  color: white;
  margin-top: 24px;
}
.promises_block_entering {
  position: relative;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: white;
  margin-top: 10px;
  margin-left: 32px;
}
.promises_block_list {
  margin: 12px 0 0 32px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;
  color: white;
  list-style-type: none;
}
.promises_block_list li {
  position: relative;
  margin-bottom: 8px;
}
.promises_block_list li:before {
  position: absolute;
  display: block;
  content: "";
  left: -27px;
  width: 20px;
  height: 20px;
  background: url("../icons/paw_icon.png") center center/cover no-repeat;
}
.promises_block_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto 16px auto;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  color: #E3DFE0;
}
.promises_block_btn {
  margin: 0 auto 24px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 16px;
  gap: 10px;
  width: 107px;
  height: 40px;
  background: #E3DFE0;
  border: 1px solid #E3DFE0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 24px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}

footer {
  min-height: 70px;
  padding: 24px 0 30px 0;
}
footer .footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
footer .footer_wrapper .legal_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #292729;
}
footer .footer_wrapper .author {
  position: relative;
  text-align: center;
  vertical-align: top;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #292729;
}
footer .footer_wrapper .social {
  display: inline-block;
  font-size: 30px;
}
footer .footer_wrapper .social i:hover {
  -webkit-animation: icons 1s none infinite normal 0.3s;
          animation: icons 1s none infinite normal 0.3s;
}
footer .footer_wrapper .add_info {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

@-webkit-keyframes icons {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  20% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes icons {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  20% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal_dialog {
  max-width: 648px;
  max-height: 598px;
  margin: 200px auto;
}
.modal_content {
  position: relative;
  width: 100%;
  padding: 40px 0px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 20px;
}
.modal_content_close {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  background: url("../icons/cross_icon.png") center center/cover;
}
.modal_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #292729;
}
.modal_pocket {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal_pocket_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #292729;
}
.modal_pocket_chosen {
  margin-left: 10px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #292729;
}
.modal_pocket_btn {
  margin-left: 24px;
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #292729;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 32px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
}
.modal_name {
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 104px 0 104px;
}
.modal_name_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #292729;
}
.modal_number {
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 104px;
}
.modal_number_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #292729;
}
.modal_input {
  width: 100%;
  /* Black */
  height: 42px;
  border: 1px solid #292729;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}
.modal_rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 32px;
}
.modal_rules_checkbox {
  color: none;
  width: 24px;
  height: 24px;
}
.modal_rules_checkbox:hover {
  background-color: #ccc;
}
.modal_rules_title {
  margin-left: 8px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #292729;
}
.modal_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 112px;
  margin: 31px auto 0 auto;
  background: #292729;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 32px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  min-width: 390px;
  color: #FFFFFF;
}

.input_name::-webkit-input-placeholder {
  color: #292729;
}

.input_name::-moz-placeholder {
  color: #292729;
}

.input_name:-ms-input-placeholder {
  color: #292729;
}

.input_name::-ms-input-placeholder {
  color: #292729;
}

.input_name::placeholder {
  color: #292729;
}

.input_number::-webkit-input-placeholder {
  color: #838283;
}

.input_number::-moz-placeholder {
  color: #838283;
}

.input_number:-ms-input-placeholder {
  color: #838283;
}

.input_number::-ms-input-placeholder {
  color: #838283;
}

.input_number::placeholder {
  color: #838283;
}

.hidden {
  display: none;
}

.show {
  display: block;
  -webkit-animation: showModal 1s ease 0s 1;
          animation: showModal 1s ease 0s 1;
}

@-webkit-keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal_pocket_block {
  margin: 0 auto 20px auto;
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal_pocket_block .text_combo_block_name {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}
.modal_pocket_block .text_combo_block_price {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}
.modal_pocket_block_choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px;
  background: #292729;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 32px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 132%;
  color: #FFFFFF;
}

.modal_results_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}
.modal_results_wrapper .modal_results_block {
  padding: 8px 0px;
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.modal_results_wrapper .modal_results_block_title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132%;
  color: #838283;
}
.modal_results_wrapper .modal_results_block_chosen {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132%;
  color: #292729;
}

.agreement {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #292729;
  text-align: center;
}

.modal_gray {
  background: #5F5D5F;
  padding: 12px 25px;
  min-width: 370px;
  margin-top: 43px;
  margin-bottom: -15px;
}

.first {
  margin-top: 32px;
}

@media (max-width: 1024px) {
  nav .menu_btn {
    width: 150px;
    font-size: 15px;
  }
  nav .menu_list {
    gap: 18px;
  }
  nav .main_block .logo_name {
    font-size: 28px;
  }
  nav .language {
    margin: auto 0 auto 206px;
  }
  nav .menu_phone {
    font-size: 15px;
  }
}